@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-dark-ink bg-soft-white;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

